<% layout('layouts/app') %>
<!-- <body>
    <h1><%= place.title %></h1>
    <h2><%= place.location %></h2>
    <h3>$<%= place.price %> per night</h3>
    <p><%= place.description %></p>
    <img src="<%= place.image %>" alt="<%= place.title %>" width="600">


    <form action="/places/<%= place._id %>?_method=DELETE" method="POST" style="display:inline!important;"> 
        <button type="submit">Delete</button>

    </form>
    <a href="/places/<%= place._id %>/edit">edit</a>
    <a href="/places">All places</a>
  -->


<div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <img src="<%= place.image %>" alt="" class="img-card-top">
            </div>
        </div>
</div>